.main {
  width: 40%;
  margin: 20vh auto auto auto;
  color: white;
}

.main h1 {
  font-size: 3rem;
}

.main span {
  color: #ff5f5f;
}

.p1,
.p2 {
  font-size: 1.2rem;
  width: 85%;
}

.nav {
  margin: 20px auto auto auto;
}
