.nav {
  width: 30%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav li {
  color: #f8d419;
  text-decoration: underline;
}

.nav li:hover {
  cursor: pointer;
  color: #ff5f5f;
}
