.nav {
  width: 30%;
  margin: 100px auto auto 30vw;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav li {
  color: #f8d419;
  text-decoration: underline;
}

.nav li:hover {
  cursor: pointer;
  color: #ff5f5f;
}

@media (max-width: 1000px) {
  .nav {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .nav {
    width: 50%;
  }
}
